@{
    ViewData["Title"] = "Admin Paneli";
}

<p>Hoşgeldin Admin </p>

<h2>Kullanıcı İşlemleri</h2>
<a href="/Admin/UserList"><button>Kullanıcı Listele</button></a>

<hr />

<h2>Araç İşlemleri</h2>
<a href="/Admin/CarList"><button>Araç Listele</button></a>
<a href="/Car/Create"><button>Araç Ekle</button></a>

<hr />

<h2>Admin İşlemleri</h2>
<a href="/Admin/AdminList"><button>Admin Listele</button></a>
<a href="/Admin/AddUser"><button>Admin Ekle</button></a>

<hr />

<a href="/Home/Index">Çıkış Yap</a>