<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <!-- Use forward slashes and a simple dll name to avoid issues with backslash escape sequences during packaging/deploy hooks -->
      <aspNetCore processPath="dotnet" arguments="car.dll" stdoutLogEnabled="false" stdoutLogFile="./logs/stdout" hostingModel="inprocess" />
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: 46D8AD79-F010-7916-F1D4-009AB3D8B694-->