@model rental.Models.Rental

@{
    ViewData["Title"] = "Ödeme Sayfası";
    Layout = "_Layout";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2 class="text-center mb-4">Güvenli Ödeme Sayfası</h2>

            <div id="iyzipay-checkout-form" class="responsive"></div>
            @Html.Raw(ViewBag.PaymentForm)

            <div class="text-center mt-4">
                <a href="/Rental/MyRentals" class="btn btn-secondary">Kiralamalarıma Dön</a>
            </div>
        </div>
    </div>
</div>