@{
    ViewData["Title"] = "Home Page";
}

<div style="text-align:center; margin-top:100px;">
    <h1>Hoşgeldiniz</h1>

    <a href="/Auth/Login">
        <button style="padding:10px 20px; margin:10px;">Giriş Yap</button>
    </a>

    <a href="/Auth/Register">
        <button style="padding:10px 20px; margin:10px;">Kayıt Ol</button>
    </a>
</div>
